# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
.metadata
pubspec.lock

# IDE
.idea/
*.ipr
*.iws
.vscode/

# OS
.DS_Store
Thumbs.db

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/project.xcworkspace/
**/ios/**/xcuserdata/
**/ios/**/Pods/
**/ios/.symlinks/
**/ios/**/*.xcuserstate

# Claude
.claude/
